In [1]:
import pandas as pd

In [20]:
data = pd.read_csv('../../raw_data/SEC_B_2015.csv', low_memory=False)
data.head()

,Unnamed: 0,hhcode,psu,province,region,district,sec,idc,sbq02,sbq03,...,sbq62,sbq63,age,sbq07,sbq08,sbq09,sbq10,sbq11,weights,age_bin
0,0,1111000101,11110001,KP,rural,Chitral,00B,1,Head,,...,0,0,81,Currently Married,2,98,98,yes,168.0,senior
1,1,1111000101,11110001,KP,rural,Chitral,00B,2,Spouse,Family Elder,...,0,0,70,Currently Married,1,98,98,yes,168.0,senior
2,2,1111000101,11110001,KP,rural,Chitral,00B,3,Son/Daughter,Family Elder,...,0,0,44,Currently Married,4,1,2,yes,168.0,adult
3,3,1111000101,11110001,KP,rural,Chitral,00B,4,Son/Daughter-in-law,Family Elder,...,0,0,37,Currently Married,3,99,99,yes,168.0,adult
4,4,1111000101,11110001,KP,rural,Chitral,00B,5,Grand Child,Family Elder,...,0,0,12,Unmarried/Never Married,,3,4,yes,168.0,children

# District Level

In [3]:
district = data['district'].unique().tolist()

In [5]:
for x in district:
    data1 = data[data.district == x]
    data1.to_csv(('dist/year_2007/'+ str(x) + '_2007.csv'))

# Province Level

In [21]:
province = data['province'].unique().tolist()

In [22]:
for x in province:
    data1 = data[data.province == x]
    data1.to_csv(('../../province/year_2015/'+ str(x) + '_2015.csv'))